stages:
  - build

variables:
  # Ort der virtuellen Umgebung
  VENV_PATH: "/data/gitlab/builds/runner/.venv"

build:
  stage: build
  script:
    # 1. Verzeichnis anlegen
    - mkdir -p /data/gitlab/builds/runner
    # 2. Virtuelle Umgebung erstellen
    - python3 -m venv $VENV_PATH
    # 3. venv aktivieren
    - source $VENV_PATH/bin/activate
    # 4. pip upgraden und Dependencies installieren
    - pip install --upgrade pip
    - pip install torch==2.6.0 torchvision torchaudio --index-url https://download.pytorch.org/whl/test/cu126 -q
    - pip install -r requirements.txt
    # 5. Optional: testen, ob alles funktioniert
    - python -c "import sys; print('Python version:', sys.version, flush = True)"
    - python hello.py
  tags:
    - jetson

# stages:
#   - test
# hello_world_job:
#   stage: test
#   script:
#     - source /home/hanna/git/measure-radioml/venv/bin/activate
#     - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
#     - eval $(ssh-agent -s)
#     - echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add -
#     - mkdir -p ~/.ssh
#     - ssh-keyscan gitlab.com >> ~/.ssh/known_hosts
#     - dvc remote list
#     - dvc remote modify sciebo user $DVC_Sciebo_USER
#     - dvc remote modify sciebo password $DVC_Sciebo_PASSWORD
#     - dvc pull
#     - python measure/mini_measure.py
#     - dvc push
#     - dvc exp push -r sciebo -f git@gitlab.com:hanner123-group/gitlab_runner.git
#   tags:
#     - jetson

# stages:
#   - test
# hello_world_job:
#   stage: test
#   script:
#     - echo "Runner läuft!!"


# wichtig: richtige uni git domain, nur ein runner im toml
# runner restart mit: sudo systemctl restart gitlab-runner
# toml bearbeiten: sudo nano /etc/gitlab-runner/config.toml
# logs anschauen: sudo journalctl -u gitlab-runner -f
# pipeline im train-measure branch manuell starten - manuell commit machen, damit die pipeline gefunden werden kann
# kompliziertere pipeline testen
# pipeline mit measure testen
# dvc live einrichten
# sudo chown -R gitlab-runner:gitlab-runner /data/gitlab/builds/runner/
# probleme bei pycuda installation -> erstmal weglassen
# es dauert wieder so lange bis der mirror aktualisiert ist... wieso? weil vorher ein richtiger commit gemacht wurde Funktiniert dann der pull mirror nicht mehr? -> force push und reset (ausversehen zu measure_jetson, noch richtig machen!!)
# dauert schon wieder so lange? - hard reset

# kein cuda verfügbar! wahrscheinlic weil das environment nicht ganz gesäubert wurde -> gucken wo ich das einstellen kann (venv soll nicht übernommen werden von altem build!)
# clean = true im toml setzen

# # Lokales Klonen des Mirror-Repos
# git clone <mirror-repo-url> mirror-local
# cd mirror-local

# # Füge das GitHub-Repo als Remote hinzu
# git remote add upstream <github-repo-url>

# # Hole den aktuellen Stand vom GitHub-Repo
# git fetch upstream

# # Setze den Branch auf den GitHub-Stand
# git checkout main
# git reset --hard upstream/main

# # Push zurück zum Mirror (force!)
# git push origin main --force