# PyCharm IDE folder
.idea/
# Local python environment
.venv/
# Exported ONNX models
*.onnx
# Python cache
__pycache__
/inp.npy
/out.npy
/build
# Local folder for datasets
data/
# Plots produced by dvc from pipeline outputs
dvc_plots/
