/latency_per_throughput_plot.png
/throughput_batch_plot.png
/throughput_images_plot.png
/latency_plot.png
/throughput_per_power_plot.png
/accuracies_plot.png
/energy_consumption_plot.png
/power_bar_plot.png
